{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    {% block titulo %}
    <title>Programação Web 2025</title>
    {% endblock titulo %}

    <link rel="stylesheet" href="{% static ' estilo.css '%}">
    
</head>
<body>

    <h4>Menu Superior</h4>
    <ul>
        <li>
            <li>
                <a href="{% url "index" %}"> Inicio  </a>
            </li>
    
             <a href="{% url "sobre" %}">  Inicio menu  </a>
            <li><a href="{% url "cadastrar-pessoa" %}">Pessoa</a></li>
            <li><a href="{% url "cadastrar-materia" %}">Materia</a></li>
            <li><a href="{% url "cadastrar-conteudo" %}">Conteudo</a></li>
            <li><a href="{% url "cadastrar-assunto" %}">Assunto</a></li>
            <li><a href="{% url "cadastrar-questao" %}">Questao/<a></li>

        </li>

        <li>
            <a href="{% url "index" %}"> Inicio  </a>
        </li>

    </ul>

    {%        block conteudo          %}

    <h3>Página Inicial</h3>

    <p> Bem vindo ao Memorex</p>

    {%    endblock   %}

    <p>
        Desenvolvido por Giovanna
    </p>

</body>
</html>