{% extends "paginas/index.html" %}

{% load static %}

{% block conteudo %}
<h3>Sobre</h3>

<p>
    texto da página Sobre 
</p>

<h2>O memorex é um material de estudo resumido e visual, feito com anotações, mapas mentais e questões resolvidas, pensado para ajudar alunos a entender melhor matemática. Neste caso, o foco é em Geometria Analítica (ponto, reta e circunferência), com fórmulas, esquemas e exemplos práticos. A ideia é facilitar a revisão e ajudar na compreensão dos conteúdos, especialmente em provas como Enem e vestibulares, promovendo uma aprendizagem mais clara e eficiente.

</h2>

{% endblock conteudo %}